<?xml version="1.0" ?>
<settings version="1">
	<section id="pvr.plutotv">
		<category id="credentials" label="30001" help="">
			<group id="1" label="">
				<setting id="install_widevine" type="string" label="30007"
					help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(script.module.inputstreamhelper,widevine_install)
						</data>
					</control>
					<dependency type="visible" operator="!is"
						setting="system.platform.android">true</dependency>
				</setting>
				<setting id="run_is_info" type="string" label="30006"
					help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(script.module.inputstreamhelper,info)</data>
					</control>
					<dependency type="visible" operator="!is"
						setting="system.platform.android">true</dependency>
				</setting>
			</group>
		</category>
		<category id="debug" label="30040" help="">
			<group id="1" label="">
				<setting id="internal_sid" type="string" label="30041"
					help="">
					<level>3</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"></control>
				</setting>
				<setting id="internal_deviceid" type="string" label="30042"
					help="">
					<level>3</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string"></control>
				</setting>
			</group>
		</category>
	</section>
</settings>